/* apply a natural box layout model to all elements, but allowing components to change */
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import "font-awesome";

$brand_blue: #3e88be;

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  display: flex;
  max-width: 1040px;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: stretch;
  border: 2px $brand_blue solid;
}

.three-up {
  height: 400px;
  width: 200px;
  margin: 40px;
}

h2 {
  font-size: 2rem;
}

h2, p, {
  color: $brand_blue;
  text-align: center;
}
h3 {
  color: #a8afb0;
  text-align: center;
}
button {
  padding: 0.6rem;
  width: 7.5rem;
  justify-content: center;
  border: transparent;
  border-radius: 3%;
  background: $brand_blue;
  color: white;
}
